In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.cbook import boxplot_stats

In [2]:
df = pd.read_csv('../data/user_attr.csv')
df = df.drop(df.columns[[0]], axis=1)
df.head()

,user0,user1,user2,user3,user4,user5,user6,user7,user8,user9,...,user58,user59,user60,user61,user62,user63,user64,user65,user66,user67
0,Male,Male,Female,Female,Male,Female,Male,Male,Male,Male,...,Male,Male,Male,Male,Rather not say,Female,Male,Female,Female,Male
1,400-level courses,400-level courses,400-level courses,200-level courses,400-level courses,I'm a graduate student,400-level courses,300-level courses,I'm a graduate student,400-level courses,...,300-level courses,400-level courses,400-level courses,300-level courses,200-level courses,400-level courses,100-level courses,I'm a graduate student,400-level courses,400-level courses
2,"Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)",...,"Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)","Science, technology, engineering, maths (STEM)"
3,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,3-5 years,1-3 years,1-3 years,1-3 years,> 5 years,1-3 years,> 5 years,1-3 years,> 5 years,3-5 years,...,1-3 years,3-5 years,3-5 years,0-1 years,1-3 years,3-5 years,1-3 years,> 5 years,3-5 years,1-3 years

# plot the quantities of each feature for the voter population

In [23]:
print(df.iloc[0].value_counts())

Male              46
Female            21
Rather not say     1
Name: 0, dtype: int64

In [22]:
print(df.iloc[1].value_counts())

400-level courses                33
300-level courses                10
I'm a graduate student            9
100-level courses                 6
I'm not taking coding courses     6
200-level courses                 4
Name: 1, dtype: int64

In [24]:
print(df.iloc[2].value_counts())

Science, technology, engineering, maths (STEM)    67
Social Science                                     1
Name: 2, dtype: int64

In [25]:
print(df.iloc[3].value_counts())

No     56
Yes    12
Name: 3, dtype: int64

In [26]:
print(df.iloc[4].value_counts())

1-3 years     30
3-5 years     20
 > 5 years    12
0-1 years      6
Name: 4, dtype: int64

Male              46
Female            21
Rather not say     1
Name: 0, dtype: int64

# make distribution plot of people that know R versus people that don't

In [95]:
df2 = pd.read_csv('../data/matrix_of_ratings.csv')
df2 = df2.drop(df2.columns[[0]], axis=1)
df2.head()

ratings_with_exp = np.zeros((100,2))
ratings_no_exp = np.zeros((100,2))

for i in range(df2.shape[1] -1):
    for j in range(df2.shape[0] ):
        if(df["user" + str(i)][3] == 'Yes' and df2["user" + str(i)][j] > 0):
            ratings_with_exp[j,0] += df2["user" + str(i)][j]
            ratings_with_exp[j,1] += 1

        elif(df2["user" + str(i)][j] > 0):
            ratings_no_exp[j,0] += df2["user" + str(i)][j]
            ratings_no_exp[j,1] += 1

avg_ratings_with_exp = ratings_with_exp[:,0]/ratings_with_exp[:,1]

avg_ratings_no_exp = ratings_no_exp[:,0]/ratings_no_exp[:,1]

print(avg_ratings_with_exp)
print(avg_ratings_no_exp)

absolute_diff = 0
for i in range(100):
    absolute_diff += (abs(avg_ratings_with_exp[i] - avg_ratings_no_exp[i])/100)
    
print('''This is the absolute difference between the avg ratings of people
with R compare to people with no R experience: ''' + str(absolute_diff))

[3.6        2.41666667 8.5        6.33333333 6.27272727 6.3
 6.3        7.1        7.1        7.1        7.55555556 6.22222222
 7.75       6.125      6.625      5.         5.5        8.125
 5.71428571 6.42857143 5.         5.28571429 6.66666667 4.5
 4.5        5.83333333 7.2        7.4        6.8        4.8
 2.8        6.2        7.2        7.6        6.4        5.4
 5.4        5.6        6.2        3.4        5.8        7.
 7.4        4.         6.8        5.         6.2        5.2
 4.2        3.8        4.6        5.8        6.6        5.2
 5.8        7.4        6.6        7.8        5.         5.
 6.2        5.2        6.4        7.8        5.8        6.2
 5.2        5.         4.6        6.4        5.8        6.2
 7.8        1.8        5.4        7.         3.2        6.4
 7.8        4.6        7.         4.8        7.6        8.
 4.6        6.6        4.6        5.8        5.         4.8
 5.8        4.6        4.4        6.8        5.6        5.4
 7.2        7.8        5.4        5.25      ]
[3.16       2.         7.53061224 7.         6.73333333 5.
 5.88636364 6.44186047 5.45238095 6.4047619  6.17073171 6.7804878
 6.46153846 6.51282051 6.41025641 5.92105263 4.92105263 6.65789474
 6.24324324 6.77142857 5.08571429 5.87878788 7.12121212 6.21212121
 3.66666667 6.84375    7.16129032 5.64516129 5.06451613 4.24137931
 3.76666667 6.1        6.53333333 5.96551724 6.5        5.9
 5.5        4.8        6.4        3.9        6.06666667 4.96666667
 7.37931034 5.14285714 6.72413793 4.89655172 5.34482759 6.17241379
 3.65517241 6.24137931 6.92857143 5.59259259 5.81481481 6.22222222
 6.74074074 5.7037037  5.48148148 7.25925926 4.         5.66666667
 6.         6.25925926 6.85185185 7.22222222 6.2962963  5.37037037
 5.7037037  5.14814815 6.03703704 6.51851852 6.92592593 7.14814815
 6.92592593 3.11111111 6.11111111 5.33333333 4.85185185 6.59259259
 6.81481481 5.7037037  6.85185185 6.2962963  5.96296296 6.96296296
 4.7037037  6.22222222 6.2962963  5.         5.92592593 4.51851852
 6.59259259 3.96296296 5.74074074 6.14814815 6.85185185 5.40740741
 5.92592593 6.81481481 5.37037037 5.88888889]
0.43999999999999995
0.4166666666666665
0.9693877551020407
0.666666666666667
0.4606060606060609
1.2999999999999998
0.41363636363636314
0.6581395348837207
1.647619047619047
0.6952380952380945
1.384823848238482
0.5582655826558263
1.2884615384615383
0.3878205128205128
0.21474358974358942
0.9210526315789478
0.5789473684210522
1.4671052631578947
0.5289575289575286
0.3428571428571425
0.08571428571428541
0.5930735930735933
0.45454545454545414
1.712121212121212
0.8333333333333335
1.010416666666667
0.03870967741935516
1.7548387096774194
1.7354838709677418
0.5586206896551724
0.9666666666666668
0.10000000000000053
0.666666666666667
1.6344827586206891
0.09999999999999964
0.5
0.09999999999999964
0.7999999999999998
0.20000000000000018
0.5
0.2666666666666666
2.033333333333333
0.020689655172414056
1.1428571428571432
0.07586206896551673
0.1034482758620694
0.8551724137931034
0.9724137931034482
0.5448275862068965
2.4413793103448276
2.328571428571429
0.20740740740740726
0.7851851851851848
1.0222222222222221
0.9407407407407407
1.696296296296297
1.1185185185185178
0.5407407407407403
1.0
0.666666666666667
0.20000000000000018
1.0592592592592593
0.4518518518518517
0.5777777777777775
0.4962962962962969
0.8296296296296299
0.5037037037037031
0.14814814814814792
1.4370370370370376
0.1185185185185178
1.1259259259259258
0.9481481481481477
0.8740740740740742
1.3111111111111111
0.7111111111111104
1.666666666666667
1.651851851851852
0.1925925925925922
0.9851851851851849
1.1037037037037036
0.14814814814814792
1.496296296296297
1.6370370370370368
1.0370370370370372
0.10370370370370363
0.3777777777777773
1.696296296296297
0.7999999999999998
0.9259259259259256
0.28148148148148167
0.7925925925925927
0.6370370370370368
1.3407407407407401
0.6518518518518519
1.2518518518518524
0.007407407407407085
1.2740740740740746
0.9851851851851849
0.029629629629630116
0.6388888888888893
This is the absolute difference between the avg ratings of people
with R compare to people with no R experience: 0.809542237906496

# Can people that know R distinguish good snippets more than people that don't?

In [97]:
list_of_good = [4,5,7,8,12,16,19,22,24,26,30,33,36,39,48,50,51,54,55,58,63,70,71,72,73,75,81,82,86,87,95]

print(list_of_good)

list_of_bad = []

for i in range(len(list_of_good)):
    list_of_good[i] = list_of_good[i] - 1
    
ratings_with_exp = np.zeros((len(list_of_good),2))
ratings_no_exp = np.zeros((len(list_of_good),2))

print(df2.iloc[3])

for i in range(df2.shape[1] -1):
    counter = 0
    for j in list_of_good:
        if(df["user" + str(i)][3] == 'Yes' and df2["user" + str(i)][j] > 0):
            ratings_with_exp[counter,0] += df2["user" + str(i)][j]
            ratings_with_exp[counter,1] += 1

        elif(df2["user" + str(i)][j] > 0):
            ratings_no_exp[counter,0] += df2["user" + str(i)][j]
            ratings_no_exp[counter,1] += 1
            
        counter+=1
        
print(ratings_with_exp)
avg_ratings_with_exp = ratings_with_exp[:,0]/ratings_with_exp[:,1]

avg_ratings_no_exp = ratings_no_exp[:,0]/ratings_no_exp[:,1]

print(np.mean(avg_ratings_with_exp))
print(np.mean(avg_ratings_no_exp))

[4, 5, 7, 8, 12, 16, 19, 22, 24, 26, 30, 33, 36, 39, 48, 50, 51, 54, 55, 58, 63, 70, 71, 72, 73, 75, 81, 82, 86, 87, 95]
filename    snippet4
user0           10.0
user1            8.0
user2            7.0
user3            8.0
              ...
user57           0.0
user58           6.0
user59           9.0
user60           8.0
user61           7.0
Name: 3, Length: 63, dtype: object
[[76. 12.]
 [69. 11.]
 [63. 10.]
 [71. 10.]
 [56.  9.]
 [40.  8.]
 [40.  7.]
 [37.  7.]
 [27.  6.]
 [35.  6.]
 [24.  5.]
 [36.  5.]
 [27.  5.]
 [31.  5.]
 [26.  5.]
 [19.  5.]
 [23.  5.]
 [26.  5.]
 [29.  5.]
 [39.  5.]
 [32.  5.]
 [32.  5.]
 [29.  5.]
 [31.  5.]
 [39.  5.]
 [27.  5.]
 [35.  5.]
 [24.  5.]
 [33.  5.]
 [23.  5.]
 [28.  5.]]
5.8439231019876186
6.43807418075299